.tech-badge {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 999px;
    background: #f5bd35;
    color: #000000;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
}


.minibadge {
    width: 100%;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin-top:20px;
}
