header {
    width: 100%;
    padding-top: 20px;
}

nav {
    width: 700px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background: rgba(30, 34, 55, 0.75);
    backdrop-filter: blur(15px);
    border-radius: 0 0 35px 35px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f5bd35;
}

nav a.active {
    color: #f5bd35;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s ease;
}

nav a:hover::after,
nav a.active::after {
    width: 100%;
}